* {
    margin: 0;
    padding: 0;
}

.page {
    max-width: 900px;
    margin: auto;
}

.page > div {
    padding: 20px;
}

div.menu {
    padding: 0;
    padding-left: 20px;
    line-height: 50px;
    background-color: #B2D6FF;
    /* Medium blue */
}

.menu a {
    /* margin-left: 30px; */
    color: #F5CF8E;
    text-decoration: none;
    text-transform: uppercase;
}

.menu a:hover {
    color: black;
}

.sidebar {
    float: left;
    height: 500px;
    width: 30%;
    background-color: #F09A9D;
    /* Red */
}

.content {
    overflow: hidden;
    height: 500px;
    background-color: #F5CF8E;
    /* Yellow */
}

.footer {
    /* height: 200px; */
    background-color: #D6E9FE;
    /* Light blue */
}

.content img {
    float: left;
    margin-right: 20px;
    max-width: 60%;
}

.content p {
    text-align: justify;
}

.footer {
    text-align: center;
}

.footer div {
    display: inline-block;
    width: 45%;
    height: 100px;
    background: #B2D6FF;
    margin: 10px;
    padding: 10px;
}

.footer div:nth-of-type(1) {
    overflow: hidden;
}

.footer div:nth-of-type(2) {
    /* overflow: scroll; */
    overflow-y: scroll;
}

.footer div:nth-of-type(3) {
    /* overflow: scroll; */
    overflow: auto;
}